sounddevice==0.5.0
keyboard==0.13.5
openai-whisper==20231117
SpeechRecognition==3.10.4
PySide6==6.7.2
pydub==0.25.1
torch==2.4.1
selenium==4.24.0
webdriver_manager==4.0.2
transformers==4.27.4
numpy==1.23.5
pyaudio==0.2.14
pvporcupine==3.0.3
requests==2.32.3
psutil==6.0.0
urllib3==2.2.2
scikit-learn==1.5.1
joblib==1.4.2
vosk==0.3.45
spacy==3.5.0
tensorflow==2.12.0
mecab-python3==1.0.5
konlpy==0.6.0
git+https://github.com/myshell-ai/MeloTTS.git

# spacy 한국어 모델 설치
python -m spacy download ko_core_news_sm