sounddevice
keyboard
openai-whisper
SpeechRecognition
PySide6
pydub
torch
selenium
webdriver_manager
transformers
numpy
pyaudio
pvporcupine
geopy
requests
psutil
urllib3
python-dotenv
scikit-learn
joblib
vosk
setproctitle
git+https://github.com/myshell-ai/MeloTTS.git