pycaw
keyboard
openai-whisper
SpeechRecognition
PySide6
pydub
torch
selenium
webdriver_manager
transformers
llama-cpp-python
numpy
pyaudio
pvporcupine
comtypes
pywin32
geopy
requests
psutil
py2exe
setproctitle
urllib3
datetime
python-dotenv
pyinstaller
